<p>
  partials footer fixed
</p>


<script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous">
  </script>

  <script src="stylesheets/bootstrap.js">
  </script>
</body>
</html>
