<!DOCTYPE html>
<html>
    <head>
        <title>Photo</title>
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> -->
        <!-- <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css"> -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    </head>
    <body>

      <p>
        partials header fixed
      </p>
