<% include ../partials/header %>

<div class="container">

  <div class="jumbotron">
    <h1 class="hero-text">Photo Repo</h1>
    <h3 class="hero-desc">
      View photos. Post comments. Rinse and repeat.
    </h3>
    <div class="main-btn">
      <a class="btn btn-info test-btn" href="/photos/new">Add New Photo</a>
    </div>
  </div>

    <div class="row">
           <!--campgrounds is a collection from the yelp_camp DB-->
          <% photos.forEach(function(photo){ %>
              <div class="col-md-3 col-sm-4">

                  <div class="thumbnail-sm">
                      <a class="more-info-style" href="photos/<%= photo._id %>">
                        <img href="photos/<%= photo._id %>" src="<%= photo.image %>"/>
                      </a>

                  </div>

                  <!-- <a class="more-info-style" href="photos/<%= photo._id %>">clik</a> -->


                    <!--during creation, every anchor tag has a ref to its own id-->

              </div><!--end of col-->


          <% }); %>
      </div>

</div>

<% include ../partials/footer %>
