<% include ../partials/header %>


  <div class="jumbotron">
    <h5>Photos page!</h5>
    <p>
      <a class="btn btn-info" href="/photos/new">Add New Photo</a>
    </p>
  </div>

  <div class="row text-center" style="display:flex; flex-wrap: wrap;">
         <!--campgrounds is a collection from the yelp_camp DB-->
        <% photos.forEach(function(photo){ %>

            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                   <img src="<%= photo.image %>">
                   <div class="caption">
                       <h4><%= photo.name %></h4>
                   </div>
                   <p>
                     <!--during creation, every anchor tag has a ref to its own id-->
                     <a class="btn btn-info" href="photos/<%= photo._id %>">More info</a>
                   </p>
                </div>
            </div>

        <% }); %>
    </div>

<% include ../partials/footer %>
