<% include partials/header %>

<div class="container">
  <h1>Photos page!</h1>
  <h1 >Add a New Photo!</h1>
  <form action="/photos/new" method="POST">
    <div class="form-group">
      <label for="nameOfPhoto">Name of Photo</label>
      <input type="text" name="name" class="form-control" id="nameOfPhoto" placeholder="Name of Photo">
    </div>
    <div class="form-group">
      <label for="imageUrl">Image URL</label>
      <input type="text" name="image" class="form-control" id="imageUrl" placeholder="Image URL">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <input type="text" name="description" class="form-control" id="description" placeholder="Description">
    </div>
    <p>
      <button class="btn btn-primary">Submit</button>
    </p>
  </form>

  <div class="row text-center" style="display:flex; flex-wrap: wrap;">
         <!--campgrounds is a collection from the yelp_camp DB-->
        <% photos.forEach(function(photo){ %>

            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                   <img src="<%= photo.image %>">
                   <div class="caption">
                       <h4><%= photo.name %></h4>
                   </div>
                   <p>
                     <!--during creation, every anchor tag has a ref to its own id-->
                     <a class="btn btn-primary" href="photos/<%= photo._id %>">More info</a>
                   </p>
                </div>
            </div>

        <% }); %>
    </div>
  </div>  <!--end of container-->

<% include partials/footer %>
