<% include partials/header %>

<div class="container">
  <div class="jumbotron">
  <h1>Welcome to the landing pg!</h1>
  <p>
    Add some photos!
  </p>
  </div>
</div>

<p>
  <a href="/photos">Add New Photos</a>
</p>


<% include partials/footer %>
