<% include partials/header %>

<div class="container">
  <div class="jumbotron">
  <h1>Welcome to the landing pg!</h1>
  <p>
    Add some photos!
  </p>

  <p>
    <a class="btn btn-info" href="/photos">Add New Photos</a>
  </p>

  </div>
</div>

<% include partials/footer %>
