<% include partials/header %>
<h1>Photos page!</h1>

<h1 >Add a New Photo!</h1>

  <form action="/photos/addPhoto" method="POST">
      <input type="text" name="name" placeholder="Name of Photo">
      <input type="text" name="image" placeholder="Image URL">
      <input type="text" name="description" placeholder="Description of Photo">
      <button>Submit</button>
  </form>

  <!--photos is coming from the DB. it's the collections name -->
    <% photos.forEach(function(photo) { %>
    <img src="<%= photo.image %>" alt="test alt" />
    <h4><%= photo.name %> </h4>
<% }); %>


<button class="btn btn-primary"></button>
<!-- <p>
  <a href="/views/new.ejs">Add New Photos</a>
</p> -->

<button class="btn btn-default" type="submit">Button</button>

<button type="button" class="btn btn-warning">Warning</button>


<% include partials/footer %>
