<h1>Photos page!</h1>


  <div class="test">
    <% photos.forEach(function(photo) { %>
    <img src="<%= photo.image %>" alt="test alt" />
    <h4><%= photo.name %> </h4>
<% }); %>
</div>

<p>
  <a href="/views/new.ejs">Add New Photos</a>
</p>
